h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 10vw 0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  position: relative;
  background-color: #011111;
  background-image: -webkit-radial-gradient(#0d292a 0%, #011111 70%);
  background-image: radial-gradient(#0d292a 0%, #011111 70%);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

.moon {
  position: absolute;
  top: 30vh;
  left: 50%;
  width: 50vw;
  height: 50vw;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url('https://raw.githubusercontent.com/marvindanig/The-Solar-System/master/assets/images/moon_trans.png');
  background-size: 100%;
}

p {
  color: white;
  position: absolute;
  margin: 30vw 0 0 37vw;
  font-size: 6vw;
}

.moon:after {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: -1;
  border-radius: 50%;
}

.moon:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background: #011;
  border-radius: 50%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation: phase 40s infinite linear;
  animation: phase 40s infinite linear;
  opacity: 0.98;
  box-shadow: 0px 0px 25px #011;
}

@-webkit-keyframes phase {
  0%, 100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  10% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  99.999% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes phase {
  0%, 100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  10% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  99.999% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}