body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

#webgl {
  height: 100vh;
  width: 100vw;
}

.tm {
  position: absolute;
  top: 10px;
  right: 10px;
}

.webgl-error {
  font: 15px/30px monospace;
  text-align: center;
  color: #fff;
  margin: 50px;
}

.webgl-error a {
  color: #fff;
}