p.chapter-begin:first-letter {
  display: inline-block;
  margin: 5vw 1vw .1vw;
  float: left;
  line-height: 13vw;
  font-size: 22vw;
  color: hsl(90, 70%, 30%);
  font-family: 'UnifrakturMaguntia', cursive;
}