.leaf {
  height: 100%;
  height: 90vh;
  width: 80%;
  margin: auto;
}

.container {
  margin: 10% auto 0;
  width: 100%;
  max-width: 1140px;
}

.inner {
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}

.imageNote {
  font-size: 2.4vw;
  text-align: center;
}