body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.BG {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .1;
}

.dot {
  height: 2vw;
  width: 2vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #fff;
}

.line1 {
  height: 41vw;
  width: 1px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 41vw;
  border-radius: 50%;
  background-color: #0af;
}

.line2 {
  height: 20.5vw;
  width: 1px;
  position: absolute;
  margin: auto;
  top: 49.5vw;
  left: 18.5vw;
  right: 0;
  bottom: 60.5vw;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  background-color: #f20;
}

.tangent {
  height: 10vw;
  width: 1px;
  position: absolute;
  margin: auto;
  top: 0vw;
  left: 0vw;
  right: 0;
  bottom: 0vw;
  background-color: #000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: black;
}

.sun {
  height: 20vw;
  width: 20vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: -30vw;
  bottom: -30vw;
  border-radius: 50%;
  background-color: #ffd259;
  border: .5vw solid #ffcb3f;
  box-shadow: 0 0 10vw #ffbd0c;
}

.planet {
  position: absolute;
  top: 7vw;
  left: 7vw;
  ;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-color: #1293f8;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  animation-direction: reverse;
  -webkit-animation: spin 2s linear infinite;
  -webkit-animation-direction: reverse;
}

.orbit1 {
  height: 41vw;
  width: 41vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px dashed #fff;
  border-radius: 21vw;
  margin: auto;
  animation: spin 10s linear infinite;
  -webkit-animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.orbit2 {
  height: 82vw;
  width: 82vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px dashed #fff;
  border-radius: 42vw;
  margin: auto;
  animation: spin 10s linear infinite;
  -webkit-animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.moon {
  height: 1.75vw;
  width: 1.75vw;
  position: absolute;
  top: 0;
  left: -2.5vw;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #aaa;
}