.container {
    margin: 8% auto 0;
    width: 100%;
    max-width: 1140px;
}

.imageNote {
    font-size: 2.6vw;
    text-align: center;
}

table {
    font-family: 'PT Sans Narrow', serif;
    margin: 4vw auto;
    font-size: 3vw;
    border-spacing: 0px;
}

td,
th {
    width: 20vw;
    height: 3vh;
    border: 1px solid #eee;
    text-align: center;
    white-space: nowrap;
    padding: 2px 1vw;
    margin: 0;
}

th {
    background: #999;
    color: white;
    border-color: 1px solid #000;
    margin: 0;
}
