.leaf.flex
  .inner.justify
    %h1.shadow
      The Solar System
    %p.center.small
      A Quick & Immersive Introduction to Physics.


    %h2
      %a{ href: "https://twitter.com/marvindanig", rel: "nofollow"}
        Marvin Danig
    %ul.solarsystem
      %li.sun
        %a.page{ href: "28" }
          %span Sun
      %li.mercury
        %a{href: "#mercury"}
          %span Mercury
      %li.venus
        %a{href: "#venus"}
          %span Venus
      %li.earth
        %a{href: "#earth"}
          %span
            Earth
            %span.moon &amp; Moon
      %li.mars
        %a{href: "#mars"}
          %span Mars
      %li.asteroids_meteorids
        %span Asteroids &amp; Meteorids
      %li.jupiter
        %a{href: "#jupiter"}
          %span Jupiter
      %li.saturn
        %a{href: "#saturn"}
          %span
            Saturn &amp;
            %span.ring Ring
      %li.uranus
        %a{href: "#uranus"}
          %span Uranus
      %li.neptune
        %a{href: "#neptune"}
          %span Neptune
      %li.pluto
        %a{href: "#pluto"}
          %span Pluto
