html, body {
  background: #000 no-repeat;
  color: #fff;
  text-align: center;
  overflow: hidden;
  height:100vh;
  margin: 0;
  padding:0;
}

.leaf {
  width:100vw;
  height: 100vh;
}

.inner {
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin: 0% auto;

}

#shadertoy {
  position: absolute;
  bottom:0;
  left:0;
  z-index: 0;
	width: 200vw;
	height: calc(100vw / 1.4 );
	pointer-events: none;
}
