html, body {
  background: #000 url(https://raw.githubusercontent.com/marvindanig/The-Solar-System/master/assets/images/galaxy_starfield.jpg) repeat;
  color: #fff;
  text-align: center;
  overflow: hidden;
  height:100vh;
  width: 100vw;
  margin: 0;
  padding:0;
}

.leaf {
  width:100vw;
  height: 100vh;
}

h1 {
  position: absolute;
  bottom:10vw;
  width:100%;
  text-align: center;
  z-index: 10;
}

.invisible {visibility: hidden;}

#shadertoy{
	width: 100vw;
	height: calc(100vw / 1.4 );
}