table {
  font-family: 'PT Sans Narrow', serif;
  margin: 20% auto;
  position: absolute;
  top: 7%;
  border-spacing: 0px;
}

td,
th {
  width: 10vw;
  height: 5vh;
  border: 1px solid #ccc;
  text-align: center;
  white-space: nowrap;
  padding: 0.2vw 2vw;
}

th {
  background: #777;
  color: white;
  border-color: 1px solid #777;
}