body {
  background: #1d1f20;
  color:#ffe;

}

h1{position:absolute; width:100%; text-align:center; top:10vw;}

@-webkit-keyframes rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.planet {
  float: left;
  margin: 10vw;
  transition: all .5s;
  -webkit-transition: all .5s;
  /* Safari */
}

.jupiter {
  position: relative;
  margin: 100px auto;
  width: 70vw;
  height: 70vw;
  background: url(http://www.inkorange.com/images/jupiter-land.jpg) 0 0;
  border-radius: 50%;
  box-shadow: -10vw 0px 10vw 0px rgba(0, 0, 0, .85) inset, 1vw 1vw 5vw rgba(0, 0, 0, .5) inset, 0 0 2.5vw 0 rgba(256, 200, 150, .75);
  -webkit-animation: rotate 24s linear infinite;
  -webkit-filter: blur(.2vw);
}

.jupiter:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}