
body {
  font: 3.5vw/1.15 "PT Sans Narrow", sans-serif;
}

.leaf {
    height: 100vh;
    width: 80%;
    margin: auto;
}

.inner {
    margin: 15% auto;
    width: 100%;
}

h1{
  font: 6vw/1.05 'EB Garamond', serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 3.5vw;
  list-style: outside none none;
  margin: 0;
}

a {
  background: #eFEceF;
  float: left;
  width: 90%;
  clear: both;
  text-decoration: none;
  color: #333;
  margin: .1vw 0;
  padding: 0.8vw 5%;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -o-border-radius: 1vw;
  -ms-border-radius: 1vw;
  border-radius: 1vw;
}

a:hover {
  background: hsla(90, 70%, 30%, .1);
  color: #090;
  float: left;
  width: 90%;
  clear: both;
  text-decoration: none;
  cursor: pointer;
}

a span {
  float: right;
  font-size: 80%;
}