body {
  font: 3vw/1.05 "PT Sans Narrow", sans-serif;
  padding: 8vh 0
}

h1 {
  color: red;
  font-size: 4vw;
}

ul {
  margin: 0 auto;
  padding: 0;
}

ul li {
  line-height: 3.5vw;
  list-style: outside none none;
  margin: 0;
}

a {
  background: #eFEceF;
  float: left;
  width: 90%;
  clear: both;
  text-decoration: none;
  color: #333;
  margin: .1vw 0;
  padding: .5vw 5%;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -o-border-radius: 1vw;
  -ms-border-radius: 1vw;
  border-radius: 1vw;
}

a:hover {
  background: hsla(90, 70%, 30%, .1);
  float: left;
  width: 90%;
  clear: both;
  text-decoration: none;
}

a span {
  float: right;
  font-size: 80%;
}