html,
body {
    background: #000 no-repeat;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    margin: 0% auto;
}

#shadertoy {
  position: absolute;
  bottom:0;
  left:0;
  z-index: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

