p.chapter-begin:first-letter {
  display: inline-block;
  margin: 4.5vw 1vw .1vw;
  float: left;
  line-height: 10vw;
  font-size: 20vw;
  color: hsl(90, 70%, 30%);
  font-family: 'UnifrakturMaguntia', cursive;
}